<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
	
    <head>
        <meta charset="UTF-8">
        <title>Çoklu Kitle Reklam Kampanyası</title>
        <link rel="stylesheet" href="../static/style.css">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="#" />
    </head>


	 <body>
	 	<div class="registercontent" align="center">
			<div class="registertop">
				<h1>Çoklu Kitle Reklam Kampanyası</h1>
	  		</div>
			<br>
			<p><b><a href=homepage.html>Anasayfa</a></b></p>
			<b></b>
            <p><b><a href=rapor_kitle.html>Kampanya Seçimi</a></b></p>
			<b></b>
			<br>
			<div class="registerbottom">
				<form action="{{ url_for('kampanya_kitle')}}" method="post" autocomplete="off">
                <label for="Kitle 1 Dün Harcanılan Para">Kitle 1 Önceki Gün Harcanan Para: </label>
                <input type="text" id="Kitle 1 Dün Harcanılan Para" name="Kitle 1 Dün Harcanılan Para"><br><br>
                <label for="Kitle 1 Dün Alınan Sonuç">Kitle 1 Önceki Gün Alınan Sonuç: </label>
                <input type="text" id="Kitle 1 Dün Alınan Sonuç" name="Kitle 1 Dün Alınan Sonuç"><br><br>
                <label for="Kitle 2 Dün Harcanılan Para">Kitle 2 Önceki Gün Harcanan Para: </label>
                <input type="text" id="Kitle 2 Dün Harcanılan Para" name="Kitle 2 Dün Harcanılan Para"><br><br>
                <label for="Kitle 2 Dün Alınan Sonuç">Kitle 2 Önceki Gün Alınan Sonuç: </label>
                <input type="text" id="Kitle 2 Dün Alınan Sonuç" name="Kitle 2 Dün Alınan Sonuç"><br><br>
                <input type="submit" class="btn" value="Yeni İhale Değerleri Üret"></br></br>			
				</form>
			</div>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			  <ul class=flashes>
			  {% for message in messages %}
				<li><strong>{{ message }}</strong></li>
				<br/>
			  {% endfor %}
			  </ul>
			{% endif %}
		  	{% endwith %}
			<br>
			<div id="table"></div>
		</div>
		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
		<script>
		
			const tableDiv = document.getElementById('table');
							
			new gridjs.Grid({
				columns: ['Gün', 'Ulaşılan Kitle (%)', 'Harcanılan Para'],
				sort: {enabled: true, multiColumn: true},		  
				data: {{ table_data }},
				width: '90%'
			}).render(tableDiv);
		
		</script>

		<br>   </br>
</html>