<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">	
    <head>
        <meta charset="UTF-8">
        <title>Teklif Stratejisi</title>
        <link rel="stylesheet" href="../static/style.css">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="#" />
    </head>
	 <body>
	 	<div class="registercontent" align="center">
			<div class="registertop">
				<h1>Teklif Stratejisi Sayfası</h1>
	  		</div>
			<br>
			<p><b><a href=homepage.html>Anasayfa</a></b></p>
			<br>		
			<p style="white-space: pre-line"> {{ kitle }} </p>	
			<br>
			
		</div>
		<div id='effchart' class='chart'></div>
		<div id='effchart2' class='chart'></div>
		<div id='chart2' class='chart'></div>
	</body>
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script type='text/javascript'>
	var graphs2 = {{graphJSON2 | safe}};
	Plotly.plot('chart2',graphs2,{});
	var effgraph1 = {{effJSON1 | safe}};
	Plotly.plot('effchart',effgraph1,{});
	var effgraph2 = {{effJSON2 | safe}};
	Plotly.plot('effchart2',effgraph2,{});
	</script>
</html>