<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
	
    <head>
        <meta charset="UTF-8">
        <title>Teklif Stratejisi</title>
        <link rel="stylesheet" href="../static/style.css">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="#" />
    </head>


	 <body>
	 	<div class="registercontent" align="center">
			<div class="registertop">
				<h1>Teklif Stratejisi Sayfası</h1>
	  		</div>
			<br></br>
			
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
				<ul class=flashes>
				{% for message in messages %}
				  <li>{{ message }}</li>
				{% endfor %}
				</ul>
			  {% endif %}
			{% endwith %}
			<br></br>
			<p><b><a href=homepage.html>Anasayfa</a></b></p>
			<br>			
			
			<div class="registerbottom">
				<form action="{{ url_for('rapor')}}" method="post" autocomplete="off">

				<input type="submit" class="btn" value="Submit"></br></br>			
				
				</form>
			</div>
			
		</div>

	  <div id='chart' class='chart'”></div>
	  <div id='chart2' class='chart'”></div>
	</body><script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script type='text/javascript'>
	var graphs = {{graphJSON | safe}};
		Plotly.plot('chart',graphs,{});
		var graphs2 = {{graphJSON2 | safe}};
		Plotly.plot('chart2',graphs2,{});
	</script></html>